extends ../layout

block content
  .container(style="padding:80px 20px 0px 20px;")
    .modal-dialog
      .modal-content
        .modal-heading
          .row
            .col-xs-5
            .col-xs-2
              img.img-responsive(src='../bos_logo.jpg', width='120px', height='120px', style='padding-top:20px;')
            .col-xs-5
        hr
        .modal-body
          h2.text-center Login
          form.form-horizontal(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .row
              .col-xs-1
              .col-xs-10
                .form-group
                  .input-group
                    span.input-group-addon
                      span.fa.fa-envelope
                    input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
                .form-group
                  .input-group
                    span.input-group-addon
                      span.fa.fa-lock
                    input.form-control(type='password', name='password', id='password', placeholder='Password', required)
                .form-group
                  div(style='text-align:center;margin:auto;')
                    button.btn.btn-primary(type='submit')
                      i.fa.fa-user
                      | Login
                    br
                    a.btn.btn-link(href='/forgot') Forgot your password?
                hr.hr-text(data-content='OR')
                .form-group
                  div(style='text-align:center;margin:auto;')
                    a.btn.btn-block.btn-google.btn-social(href='/auth/google')
                      i.fa.fa-google-plus
                      | Sign in with Google
              .col-xs-1
        .modal-footer
          .text-center
            p
            | Don't have an account? Sign up&nbsp;
            a.btn-link(href='/signup') here
            | .
