extends layout

block content
  //- SLIDER
  .Modern-Slider
    .item
      .img-fill
        img(src='/slider/big-outsource-slider.jpg')
        .info
          h3
          h5
    .item
      .img-fill
        img(src='/slider/big-outsource-slider2.jpg')
        .info
          h3
          h5
    .item
      .img-fill
        img(src='/slider/big-outsource-slider3.jpg')
        .info
          h3
          h5
    //-
  #containerPadding
    .container-fluid
      .row(style='padding-bottom:50px;')
        .col-xs-4
        .col-xs-4
          h1.header
            strong BIG OUTSOURCE
      .row(style='padding-bottom:30px;')
        .col-xs-2
        .col-xs-8.well
          p.home.intro Big Outsource specializes in providing several key outsourcing solutions that range from project-based, virtual captive centers to built-operate and transfer model, among others.
          p.home The company was the brainchild of the same team behind 7th Media Design Studio. With nearly a decade of running the Manila-based digital creative and technology services studio, the experience and deep grasp of offshoring prompted the need to expand its talent recruitment component.
          p.home Big Outsource became that company and with the limelight now focused in the Philippines due to its miraculous economic achievements since this last decade and the wealth of talent among its people, it's hard to ignore the opportunities waiting to be seized in the growing outsourcing marketspace. Thus, with the rising demand for affordable yet high-value talent, Big Outsource finds a gap that must be bridged.
          p.home On top of its earnest desire to commit in championing the world-class and competitive skilled workforce of the Philippines, Big Outsource aspire to serve as your reliable and dependable outsourcing partner in a low-cost country like the Philippines for all your business needs.
          p.home Hiring a local talent or a team from the Philippines can afford you with the competitive advantage when you outsource your non-core functions to Big Outsource. Doing so will allow you to focus in managing and running the core side of your business.
          p.home With Big Outsource, we also can be your Philippine partner in charge of the human resource abd talent pooling segment of your business. With our top of class reputation and strategic competece, we are highly-capable of delivering the solution to your short- to long-term business vision and needs.
          p.home Our spectrum of outsourcing services in the various discipines include creative, technical support and information technology. The non-core side of outsourcing that we offer start with giving you the ability to hire a local talent or team who'll comprise your back-office support, marketing and sales, even call centre support teams.
        .col-xs-2
      .page-header
      .row(style='padding-bottom:50px;')
        .col-xs-4
        .col-xs-4
          h1.header
            strong Mission Statement
        .col-xs-4
      .row(style='padding-bottom:30px;')
        .col-xs-2
        .col-xs-8.well
          p.home.intro Big Outsource is committed to providing strategic outsourcing and offshoring, high-level consulting services, and high-value talent recruitment for companies of all shapes and sizes.
          p.home To undertake this mission, we believe the following factors are necessary and expected from us to deliver:
          br
          p.home 1) Grasp of the global outsourcing business.
          p.home 2) Learned legal and business framework of outsourcing.
          p.home 3) Understanding of human resource and recruitment approaches.
          p.home 4) Specialized knowledge and experience of the outsourcing industry.
          p.home 5) Broad linkages across the different public and private sectors.
          br
          p.home Meanwhile, we are committed to ensuring that our outsourcing practices contribute to meeting your overall business needs and potentially your short-term and long-term growth and sustainability. We also aspire to open the opportunities and give our workforce an assured place in the competitive yet burgeonung outsourcing marketspace.
          p.home To perform the latter mission, we believe it pays to not just offer a decent paying job, but provide our staff with a healthy and enjoyable working environment. The qualities of such work offices highlight the empowerment of our high-value talent through giving of reward based on performances, encouraging of innovative and creative thinking, as well as espousing the practice of fair, ethical and equal opportunity to all.
          p.home Finally, Big Outsource is not only helping build a progressive Philippines but a key partner in providing general welfare and social good to people for a better social welfare and development.
        .col-xs-2
      .page-header
      .row(style='padding-bottom:50px;')
        .col-xs-4
        .col-xs-4
          h1.header
            strong Vision
        .col-xs-4
      .row(style='padding-bottom:30px;')
        .col-xs-2
        .col-xs-8.well
          p.home.intro Big Outsource sees itself as the preferred premium outsourcing solutions provider and partner for business owners of all types, sizes and colours seeking to create an impact in a hyper-competitive global business environment.
          p.home To become a go-to-company in the outsourcing and virtual staffing sector, Big Outsource commits to providing clients with a wide spectrum of outsourcing services, including but not limited to finding fresh, competitive, and highly-motivated professionals who will work for our partners' present and future success.
        .col-xs-2
      
